#li1{
    margin-top: 16px;
    margin-left: 100px !important
}
body{
    background-color:#eceff1}

.form-control:focus {
    border-color: green;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
 }

