@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

body{
  padding-top: 70px;
  
}
#cont1{
  padding-left: 160px;
}
.imgFondo{
  padding-top: 70px;
}
.card {
  border: 0px solid blue;
  border-radius: 25px;
  display:block !important;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  
  
}

.card p, .card button { 
  
  display: block;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.front, .back {
  border: 0px solid blue;
  border-radius: 25px;
  position: absolute;
  display:block !important;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  box-shadow: 0px 5px 8px 0px rgb(96, 96, 248);

}
.front {
  
  
  display: flex;
}

.back {
  
  
  /*transform: rotateX(180deg);*/
  transform: rotateY(180deg);
  text-align:center;
}
.back p {
  font-size:0.65em;
}
.back button { 
  display:block; 
  width:60%; 
  margin:2rem auto 0; 
  border:2px solid #fff;
  background:transparent;
  padding:1em;
  text-transform:uppercase;
}

.back button:hover {
  color:#5f127c;
  border-color:#5f127c;
  font-weight:bold;
}
#navbar{
    overflow: auto;
    background-color: rgb(96, 96, 248) !important;
    position:fixed; 
    top: 0; 
    width: 100%;
    right: 0; 
    left:0;
    z-index: 10;
    box-shadow: 0 0 3px 3px rgb(96, 96, 248);
    
}

#li1{
    margin-top: 8px;
    margin-left: 100px !important
}
.form-control:focus {
    border-color: blue;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(104, 117, 239, 0.6);
  outline: 0 none;
  color:rgb(96, 96, 248);
 }
.afooter{
    color:rgb(96, 96, 248);
    text-decoration: "none";
    
}
.afooter:hover{
    color:rgb(76, 76, 248);
    text-decoration:"none";
    cursor:pointer
}
#Titulo{
  font-family: 'Akronim', cursive;
  font-size: 3em;
  

  color:rgb(96, 96, 248);   
}
#Titulo2{
    font-family: 'Akronim', cursive;
    font-size: 3em;
    border:1px solid rgb(96, 96, 248);
    border-radius: 25px;
    background-color: rgb(96, 96, 248);
    color:white;    
}
#Titulo3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    
    
}
#Titulo4{
    font-family: 'Akronim', cursive;
    font-size: 30px;
    
}

#p1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    
}
#cardTitle{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}
/* The side navigation menu */
.sidebar {
        margin-top: 97px;
    padding: 0;
    width: 150px;
    background-image: url(https://www.wallpapertip.com/wmimgs/3-34573_blue-wallpaper-hd-blue-and-white-hd.jpg);
    position: fixed;
    height: 100%;
    overflow: auto;
    top:0;
    z-index: 10;
    
    
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  

  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
#app{
  width: auto !important;
  height: auto !important;
}
.btn-navmain{
  border: 1px solid rgb(96, 96, 248);
  background-color: white;
  color:rgb(96, 96, 248);

}
.btn-logout{
  border: none;
  color:white;
}
.img-logo{
  width: 80px; 
  height: 80px; 
  margin-right: 5px;
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(96,96,248,1) 100%);
border-radius: 100%;
}
.modal-content{
  background-color: white;
  color:rgb(96, 96, 248);
}